BackEnd/API/.idea/.idea.API/.idea/.gitignore
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
BackEnd/API/.idea/.idea.API/.idea/indexLayout.xml
BackEnd/API/.idea/.idea.API/.idea/vcs.xml
BackEnd/API/API/bin/Debug/net8.0/API
BackEnd/API/API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
BackEnd/API/API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
BackEnd/API/API/bin/Debug/net8.0/API.dll
BackEnd/API/API/bin/Debug/net8.0/API.pdb
BackEnd/API/API/appsettings.json
BackEnd/API/API/bin/Debug/net8.0/API.deps.json
BackEnd/API/API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.API.props
BackEnd/API/API/bin/Debug/net8.0/appsettings.json
BackEnd/API/API/bin/Debug/net8.0/appsettings.Development.json
BackEnd/API/API/bin/Debug/net8.0/API.runtimeconfig.json
BackEnd/API/API/bin/Debug/net8.0/Microsoft.OpenApi.dll
BackEnd/API/API/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
BackEnd/API/API/bin/Debug/net8.0/Newtonsoft.Json.dll
BackEnd/API/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BackEnd/API/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BackEnd/API/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BackEnd/API/API/obj/API.csproj.nuget.dgspec.json
BackEnd/API/API/obj/project.assets.json
BackEnd/API/API/obj/project.nuget.cache
BackEnd/API/API/obj/project.packagespec.json
BackEnd/API/API/obj/rider.project.restore.info
BackEnd/API/API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BackEnd/API/API/obj/rider.project.restore.info
BackEnd/API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
BackEnd/API/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
BackEnd/API/API/obj/Debug/net8.0/API.assets.cache
BackEnd/API/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
BackEnd/API/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
BackEnd/API/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
BackEnd/API/API/obj/Debug/net8.0/API.csproj.Up2Date
BackEnd/API/API/obj/Debug/net8.0/API.dll
BackEnd/API/API/obj/Debug/net8.0/API.genruntimeconfig.cache
BackEnd/API/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
BackEnd/API/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
BackEnd/API/API/obj/Debug/net8.0/API.pdb
BackEnd/API/API/obj/Debug/net8.0/API.sourcelink.json
BackEnd/API/API/obj/Debug/net8.0/apphost
BackEnd/API/API/obj/Debug/net8.0/staticwebassets.build.json
BackEnd/API/API/obj/Debug/net8.0/ref/API.dll
BackEnd/API/API/obj/Debug/net8.0/refint/API.dll
BackEnd/API/API/obj/Debug/net8.0/staticwebassets/msbuild.build.API.props
BackEnd/API/API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.API.props
BackEnd/API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
BackEnd/API/API/obj/rider.project.restore.info
BackEnd/API/API/obj/rider.project.restore.info
BackEnd/API/API/obj/Debug/net8.0/API.AssemblyInfo.cs
